{% extends "base.html" %}
{% block content %}

<h2>📊 Dashboard Financeiro</h2>

<div class="grid">

<div class="card-dark">
    <h4>💰 Caixa</h4>
    <p>R$ {{ Caixa_formatado }}</p>
</div>

<div class="card-dark">
    <h4>💸 Saídas</h4>
    <p>R$ {{ saidas_formatado }}</p>
</div>

<div class="card-dark">
    <h4>📈 Saldo</h4>
    <p>R$ {{ saldo_formatado }}</p>
</div>

<div class="card-dark">
    <h4>⚠️ A pagar</h4>
    <p>R$ {{ a_pagar_formatado }}</p>
</div>

<div class="card-dark">
    <h4>🧾 A receber</h4>
    <p>R$ {{ a_receber_formatado }}</p>
</div>

</div>

<div class="card-dark" style="margin-top:30px;">
    <h4>📊 Fluxo Financeiro</h4>
    <canvas id="grafico"
    data-entradas="{{ entradas }}"
    data-saidas="{{ saidas }}"
    data-saldo="{{ saldo }}">
</canvas>
</div>

{% endblock %}