<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-dark text-white d-flex justify-content-center align-items-center" style="height:100vh;">

<form method="POST" class="p-4 bg-secondary rounded" style="width:300px;">
    <h4>Login</h4>

    <input name="user" placeholder="Usuário" class="form-control mb-2">
    <input name="senha" type="password" placeholder="Senha" class="form-control mb-3">

    <button class="btn btn-success w-100">Entrar</button>
</form>

</body>
</html>